<p class="earned-ago">{{timeAgo}}</p>

<ng-container *ngIf="awards">
    <ng-container *ngIf="awards.length > 0; else empty">
        <div class="award award-group" *ngFor="let container of awards">
            <div class="award award-name">{{container.award.name}}</div>
            <div class="award award-description">{{container.award.description}}</div>
            <div class="award award-redeemed" *ngIf="container.earnedAward?.state === 'redeemed'">redeemed</div>
            <div class="award award-not-redeemed" *ngIf="container.earnedAward?.state !== 'redeemed'">not redeemed</div>
        </div>
    </ng-container>
    <ng-template #empty>
        <div class="no-awards">This achievement has no awards.</div>
    </ng-template>
</ng-container>
