# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

#################
## Repo-specific
#################
src/shared/modules/badgeup-client/**/*.js
src/shared/modules/badgeup-client/**/*.map
src/shared/modules/badgeup-client/**/*.d.ts
src/shared/modules/badgeup-client/**/*.ngsummary.json
src/shared/modules/badgeup-client/badgeup-ionic-client.metadata.json

#################
## Misc
#################
*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
npm-debug.log

#################
## JetBrains
#################
.idea
.project
.settings
.idea/*
*.iml

############
## Windows
############

Thumbs.db
Desktop.ini
$RECYCLE.BIN/

############
## Mac
############
**/.DS_Store
.vscode
yarn-error.log
