// Common styles to all BadgeUp components
$white:           #ffffff;
$almost-white :   #f1f1f1;
$gray-lightest:   #ddd;
$gray-lighter :   #ccc;
$gray-lighten :   #bbbbbb;
$gray :           #777777;
$gray-dark :      #424242;
$black:           #000000;

$blue :           #02b0ff;
$green :          #8bc34a;
$red :            #E05850;
$cold-green :     #43B29E;
$yellow :         #EEC666;
