// this style file is not part of the component library, just for demo purposes

.close-btn {
    float: right;
}

.all-earned {
    text-align: center;

    button {
      display: inline-block;
    }
}
