<div
    class="badgeup-icon-progress"
    [ngClass]="[circleGraphPercentageHiddenClass, circleGraphSizeClass]"
>
    <div
        *ngIf="icon"
        class="badgeup-icon-progress__inner"
        [ngStyle]="{'background-image': 'url(' + icon + ')'}"
    >
    </div>
    <div class="badgeup-icon-progress__circle">
        <svg viewBox="0 0 100 100">
            <path
                d="M 50,50 m 0,-46 a 46,46 0 1 1 0,92 a 46,46 0 1 1 0,-92"
                stroke="#eee"
                stroke-width="8"
                fill-opacity="0"
            ></path>
            <path #progressPath
                d="M 50,50 m 0,-46 a 46,46 0 1 1 0,92 a 46,46 0 1 1 0,-92"
                stroke="#8CC152"
                stroke-width="8"
                fill-opacity="0"
                style="stroke-dasharray: 289.067, 289.067"
            ></path>
        </svg>
        <div
            class="badgeup-icon-progress__text"
            [ngClass]="{'badgeup-icon-progress__text--position-right': size !== 'small'}"
            *ngIf="showPercentage"
        >{{ percentComplete * 100 }}</div>
    </div>
</div>
